@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: "DM Serif Text";
}

body {
  background-color: rgba(136, 191, 80, 0.2078431373);
}

section {
  width: 100%;
  height: fit-content;
}

/* 스위치 코드 */
.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

/* 고정값 */
/* 고정값(color) */
header {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  display: none;
}
header .dock {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: flex;
  justify-content: center;
  width: auto;
  height: 76px;
  border-radius: 16px;
  transform: translateX(-50%);
}
header .dock .dock-container {
  width: auto;
  height: 100%;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(156, 184, 85, 0.28);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 16px;
}
header .dock li {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: bottom;
  transition: 0.2s;
  transform-origin: 50% 100%;
}
header .dock li:hover {
  margin: 0px 13px 0px 13px;
}
header .dock .name {
  position: absolute;
  top: -56px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.9);
  visibility: hidden;
}
header .dock .name::after {
  content: "";
  position: absolute;
  bottom: -9.6px;
  width: 0;
  height: 0;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(255, 255, 255, 0.5);
}
header .dock .ico {
  width: 90%;
  height: auto;
  object-fit: cover;
  transition: 0.2s;
  display: inline-block;
  transition: transform 0.3s ease;
}
header .dock .li-1:hover .name {
  visibility: visible !important;
}
header .dock .li-2:hover .name {
  visibility: visible !important;
}
header .dock .li-3:hover .name {
  visibility: visible !important;
}
header .dock .li-4:hover .name {
  visibility: visible !important;
}
header .dock .li-5:hover .name {
  visibility: visible !important;
}
header .dock .li-6:hover .name {
  visibility: visible !important;
}
header .dock .li-7:hover .name {
  visibility: visible !important;
}
header .dock .li-8:hover .name {
  visibility: visible !important;
}
header .dock .li-9:hover .name {
  visibility: visible !important;
}
header .dock .li-10:hover .name {
  visibility: visible !important;
}
header .dock .li-11:hover .name {
  visibility: visible !important;
}
header .dock .li-12:hover .name {
  visibility: visible !important;
}
header .dock .li-13:hover .name {
  visibility: visible !important;
}
header .dock .li-14:hover .name {
  visibility: visible !important;
}
header .dock .li-15:hover .name {
  visibility: visible !important;
}

header.scrolled {
  display: block;
}

/* main */
#slider-area {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#slider-area .wrap {
  display: flex;
  flex-direction: column;
  position: relative;
}
#slider-area .wrap .slide {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
}

#hello {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #0d0d0d;
}
#hello .front {
  position: absolute;
  top: 7.5%;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#hello .front img {
  width: 26%;
  height: 36%;
  margin-top: 64px;
}
#hello .back {
  position: absolute;
  top: 7.5%;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#hello .back img {
  width: 26%;
  height: 44%;
}
#hello .text {
  position: absolute;
  top: 8%;
  left: 10%;
  z-index: 0;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "DM Serif Text", serif;
  font-style: italic;
  font-size: 6rem;
  letter-spacing: 3px;
}
#hello p {
  display: block;
  width: 100%;
  text-align: center;
}
#hello h1 {
  width: 100%;
  text-align: center;
  font-size: 14rem !important;
}
@keyframes mouse-anime {
  0% {
    height: 0;
    top: 0;
  }
  25% {
    height: 100%;
    top: 0;
  }
  50% {
    height: 100%;
    top: 0;
  }
  75% {
    height: 0;
    top: 100%;
  }
  100% {
    height: 0;
    top: 100%;
  }
}
#hello .mouse {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#hello .mouse p {
  font-size: 11px;
  margin-bottom: 10px;
  color: #0c260e;
}
#hello .mouse i {
  display: block;
  position: relative;
  width: 1px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.2);
}
#hello .mouse i::after {
  content: "";
  display: block;
  width: 1px;
  height: 60px;
  background-color: #0c260e;
  position: absolute;
  top: 0;
  left: 0;
  animation: mouse-anime 2.5s ease infinite forwards;
}

#about .inner {
  width: 100%;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #255929;
}

#work {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
#work .wrap {
  width: 100%;
  height: 2000px;
}