*{box-sizing: border-box; font-family: "DM Serif Text";}
body{background-color: #F2F2F2;}
section{width: 100%; height: fit-content;}


/* 스위치 코드 */
.hidden{display: none; visibility: hidden; opacity: 0;}


/* 고정값 */
$Dm-Serif-Text: "DM Serif Text", serif;
$Almarai: "Almarai", sans-serif;
$Rubik-Bubbles: "Rubik Bubbles", system-ui;
$Acumin-Pro-Bold: "Acumin Pro Bold", sans-serif;
$Acumin-Pro-Regular: "Acumin Pro Regular", sans-serif;
$HelveticaNeueBlack: "HelveticaNeueBlack", sans-serif;
$HelveticaNeueBold: "HelveticaNeueBold", sans-serif;
$HelveticaNeueHeavy: "HelveticaNeueHeavy", sans-serif;
$HelveticaNeueMedium: "HelveticaNeueMedium", sans-serif;
$HelveticaNeueLight: "HelveticaNeueLight", sans-serif;
$HelveticaNeueUltraLight: "HelveticaNeueUltraLight", sans-serif;
$HelveticaNeueThin: "HelveticaNeueThin", sans-serif;
$HelveticaNeueItalic: "HelveticaNeueItalic", sans-serif;
$HelveticaNeueRoman: "HelveticaNeueRoman", sans-serif;



header{
  position: fixed; bottom: 0; left: 0;  z-index: 999;
  width: 100%; height: fit-content;
  margin: 0 auto;
  .dock{
    position: absolute; bottom: 20px; left: 50%;
    display: flex; justify-content: center;
    width: auto; height: 76px;
    border-radius: 16px;
    transform: translateX(-50%);
    .dock-container{
      width: auto; height: 100%; padding: 3px;
      display: flex; justify-content: center; align-items: center;
      background: rgba(83, 83, 83, 0.25);
      backdrop-filter: blur(13px);
      -webkit-backdrop-filter: blur(13px);
      border: 1px solid rgba(255, 255, 255, 0.18);
      border-radius: 16px;}
    li{width: 70px; height: 70px;
      display: flex; justify-content: center; align-items: center;
      vertical-align: bottom;
      transition: 0.2s;
      transform-origin: 50% 100%;}
    li:hover{margin: 0px 13px 0px 13px;}
    .name{position: absolute; top: -56px;
      display: flex; justify-content: center; align-items: center;
      height: 10px; padding: 10px 15px;
      background: rgba(255, 255, 255, 0.5); border-radius: 5px;
      color: rgba(255, 255, 255, 0.9);
      visibility: hidden;}
    .name::after {content: "";
      position: absolute; bottom: -9.6px;
      width: 0; height: 0;
      backdrop-filter: blur(13px);
      -webkit-backdrop-filter: blur(13px);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid rgba(255, 255, 255, 0.5);
    }
    .ico {width: 90%; height: auto;
      object-fit: cover;
      transition: 0.2s;
      display: inline-block;
      transition: transform 0.3s ease;}

    @for $i from 1 through 15 {
      .li-#{$i}:hover {
        .name {visibility: visible !important;}
      }
    } // @for (:hover 했을 때, 이름표 뜨게 하는)
  } // .dock
} // header

/* main */
#slider-area{width: 100%; height: 100vh; position: relative; overflow: hidden;
  .wrap{display: flex; flex-direction: column; position: relative;
    .slide{width: 100%; height: 100vh; flex-shrink: 0;}
  } // .wrap
} // #slider-area

#hello{
  display: flex; justify-content: center; align-items: center;
  .inner{width: 80%; height: 100%; color: #fff;}
  h1{width: 100%; line-height: 1.2em;
    font-size: 6rem; letter-spacing: 3px;}
  h1 span{font-size: 4rem !important;}
} // #hello

#about{
  .inner{
    width: 100%; height: 100vh !important;
    display: flex; justify-content: center; align-items: center;
    background-color: aqua;}
}