@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: "DM Serif Text";
}

section {
  width: 100%;
  height: fit-content;
}

/* 스위치 코드 */
.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

/* 고정값 */
header .dock {
  position: absolute;
  left: 10px;
  top: 50%;
  width: 50px;
  padding: 10px 5px;
  background-color: rgb(36, 36, 36);
  border: 1px solid #565656;
  border-radius: 14px;
  box-shadow: 0px 0px 0px 1px 3f3f3f;
  transform: translateY(-50%);
}
header .item {
  position: relative;
}
header .item img {
  width: 100%;
}
header .item p {
  display: none;
  position: absolute;
  top: 50%;
  left: 100%;
  margin: 0 0 0 5px;
  padding: 3px 10px;
  color: #ddd;
  background: #333;
  box-shadow: 0px 0px 0px 1px 3f3f3f;
  border-radius: 6px;
  border: 1px solid #565656;
  white-space: nowrap;
  transform: translateY(-50%);
}
header .item:hover p {
  display: block;
}

/*
#work{
  position: relative;
  display: flex;  align-items: center; justify-content: center;
  flex-direction: column;
  width: 100%; height: 100vh;
}

.file{
  position: relative; width: 60%; height: 40%;
  cursor: pointer; transform-origin: bottom;
  perspective: 1500px; z-index: 50;
}

.work-5{
  background-color: #d97706;
  width: 100%; height: 100%;
  transform-origin: top;
  border-radius: 16px; border-top-left-radius: 0;
  box-shadow: 0 20px 40px rgba(0,0,0,.2);
  transition: all ease; transition-duration: 300ms;
  position: relative;
  &::before{content: "";
    position: absolute; bottom: 99%; left: 0;
    width: 20%; height: 4%;
    background-color: #d97706;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  &::after{content: "";
    position: absolute; top: 15px; left: 75.5px;
    width: 4%; height: 4%; background-color: #d97706;
    clip-path: polygon(0 35%, 0 100%, 50% 100%);
  }
} // .work-5

.work-4{
  position: absolute; inset: 0;
  width: 100%; height: 100%;
  background: #9f9fa9; border-radius: 16px;
  transition: all ease; transition-duration: 300ms; 
  transform-origin: bottom; user-select: none;
  transform: rotateX(-20deg);
}

.work-3{
  position: absolute; inset: 0;
  width: 100%; height: 100%;
  background: #d4d4d8; border-radius: 16px;
  transition: all ease; transition-duration: 300ms;
  transform-origin: bottom; user-select: none;
  transform: rotateX(-30deg);
}

.work-2{
  position: absolute; inset: 0;
  width: 100%; height: 100%;
  background: #e4e4e7; border-radius: 16px;
  transition: all ease; transition-duration: 300ms;
  transform-origin: bottom; user-select: none;
  transform: rotateX(-38deg);
}

.work-1{
  position: absolute; bottom: 0;
  background: linear-gradient(180deg, #fd9a00 30%, #f6a800 50%, #ffba00 75%);
  width: 100%; height: 290px;
  border-radius: 16px;
  // clip-path: polygon(100% 14%, 50% 100%, 100% 100%);
  transition: all ease; transition-duration: 300ms;
  transform-origin: bottom;
  display: flex; align-items: end;
  box-shadow: inset 0 20px 40px #fbbf24, inset 0 -20px 40px #d97706;
  transform: rotateX(-46deg) translateY(1px);
  &::before{content: "";
    position: absolute; bottom: 99%; right: 0;
    background: #ffba00;
    border-top-left-radius: 16px; border-top-right-radius: 16px;}
  &::after{content: "";
    position: absolute; top: 10px; right: 142px;
    width: 3%; height: 3%; background: #ffba00;}
}
    */