@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: "DM Serif Text";
}

body {
  background-color: #F2F2F2;
}

section {
  width: 100%;
  height: fit-content;
}

/* 스위치 코드 */
.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

/* 고정값 */
header {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
}
header .dock {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: flex;
  justify-content: center;
  width: auto;
  height: 76px;
  border-radius: 16px;
  transform: translateX(-50%);
}
header .dock .dock-container {
  width: auto;
  height: 100%;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(83, 83, 83, 0.25);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 16px;
}
header .dock li {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: bottom;
  transition: 0.2s;
  transform-origin: 50% 100%;
}
header .dock li:hover {
  margin: 0px 13px 0px 13px;
}
header .dock .name {
  position: absolute;
  top: -56px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.9);
  visibility: hidden;
}
header .dock .name::after {
  content: "";
  position: absolute;
  bottom: -9.6px;
  width: 0;
  height: 0;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(255, 255, 255, 0.5);
}
header .dock .ico {
  width: 90%;
  height: auto;
  object-fit: cover;
  transition: 0.2s;
  display: inline-block;
  transition: transform 0.3s ease;
}
header .dock .li-1:hover .name {
  visibility: visible !important;
}
header .dock .li-2:hover .name {
  visibility: visible !important;
}
header .dock .li-3:hover .name {
  visibility: visible !important;
}
header .dock .li-4:hover .name {
  visibility: visible !important;
}
header .dock .li-5:hover .name {
  visibility: visible !important;
}
header .dock .li-6:hover .name {
  visibility: visible !important;
}
header .dock .li-7:hover .name {
  visibility: visible !important;
}
header .dock .li-8:hover .name {
  visibility: visible !important;
}
header .dock .li-9:hover .name {
  visibility: visible !important;
}
header .dock .li-10:hover .name {
  visibility: visible !important;
}
header .dock .li-11:hover .name {
  visibility: visible !important;
}
header .dock .li-12:hover .name {
  visibility: visible !important;
}
header .dock .li-13:hover .name {
  visibility: visible !important;
}
header .dock .li-14:hover .name {
  visibility: visible !important;
}
header .dock .li-15:hover .name {
  visibility: visible !important;
}

/* main */
#slider-area {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#slider-area .wrap {
  display: flex;
  flex-direction: column;
  position: relative;
}
#slider-area .wrap .slide {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
}

#hello {
  display: flex;
  justify-content: center;
  align-items: center;
}
#hello .inner {
  width: 80%;
  height: 100%;
  color: #fff;
}
#hello h1 {
  width: 100%;
  line-height: 1.2em;
  font-size: 6rem;
  letter-spacing: 3px;
}
#hello h1 span {
  font-size: 4rem !important;
}

#about .inner {
  width: 100%;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}